<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>ADMIN CORNER</title>
		<link rel="stylesheet" href="../static/css/style1.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
	</head>
	<body>

		<!--wrapper start-->
		<div class="wrapper">
			<!--header menu start-->
			<div class="header">
				<div class="header-menu">
					<div class="title">DASHBOARD</div>
					<div class="sidebar-btn">
						<i class="fas fa-bars"></i>
					</div>
					<ul>
						<li><a href="/login"><i class="fas fa-power-off"></i></a></li>
					</ul>
				</div>
			</div>
			<!--header menu end-->
			<!--sidebar start-->
			<div class="sidebar">
				<div class="sidebar-menu">
					<center class="profile">
						<img src="../static/img/input-bg-03.jpg" alt="">
						<p>{{info[0][0]}}</p>
					</center>
					<li class="item">
						<a href="#" onclick = "adduser()" class="menu-btn">
							<i class="fas fa-plus-square"></i><span>Add Users</span>
						</a>
					</li>

					<li class="item" id="messages">
						<a href="#" onclick = "deleteuser()" class="menu-btn">
							<i class="fas fa-trash-alt"></i><span>Delete Users</span>
						</a>
					</li>
				</div>
			</div>
			<!--sidebar end-->
			<!--main container start-->
			<div style="background-image: url('../static/img/input-bg-05.jpg');"> 
			<div class="main-container">
				
				<div class="card">
                    <p id = "greeting">Welcome {{info[0][0]}}</p><br>
                    <p>{{error}}</p>
                        <div style = "display: none;" id = "AddUser">
                            <br><br>
                            <p>Download the template file and add users to the file and Upload</p>
                            <form action="/download-user-csv" method="post">
                                <button id ="download" name = "download"  type = "submit">Download</button>
                            </form>
                            <br><br>
                            <p>Upload Modified File:</p><br><br>
                            <form action = "/upload-user-csv" method = "POST" enctype="multipart/form-data">
                                <input type = "file" name ="file" />
                                <input type = "submit" value="Upload"/>
                            </form>
                        </div>
                        <div style = "display: none;" id = "DeleteUser">
                            <form action = "/delete-user" method="POST">
                                <label>Email of User to be deleted <br><br>
                                <input id="delemail" type="text" name="delemail">
                                </label>
                                <input type = "submit" value="Delete"/>
                            </form>
                        </div>
				</div>
			</div>
			<!--main container end-->
		</div>
		<!--wrapper end-->

		<script>
		$(document).ready(function(){
			$(".sidebar-btn").click(function(){
				$(".wrapper").toggleClass("collapse");
			});
		});
		</script>
    <script>
        function adduser()
        {  
                document.getElementById("AddUser").style.display="block";
                document.getElementById("greeting").style.display="none";
                document.getElementById("DeleteUser").style.display="none";
                
        }

        function deleteuser()
        {  
                document.getElementById("AddUser").style.display="none";
                document.getElementById("greeting").style.display="none";
                document.getElementById("DeleteUser").style.display="block";
                
        }
    </script>
	</body>
</html>